body {

    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);}

.LoginBox
{
    position:absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 350px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    border-radius: 30%;
}
.LoginBox input[type="text"],
.LoginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::placeholder
{
    color: rgba(255,255,255,.5);
}
.LoginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
}
.LoginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.LoginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(232, 255, 236);

}
.LoginBox input[type="submit"]:hover
{
    background: #a7e610;
    color: darkorchid;
}
.Rbox{
    position:absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 250px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    border-radius: 20%;

}
.Rbox p {

    margin: 0;
    padding: 0;
    font-family: Calibri, serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
.Rbox #box
{
    border: none;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(232, 255, 236);
    width: 100%;
    margin-top: 25px;
}
.Rbox #box:hover
{
    background: #a7e610;
    color: darkorchid;
}

#h1{
    margin-left: 4%;
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;
    font-family: Calibri, serif;
    color: black;
    text-shadow: 0 0 9px white;
}
#h1{
    transition: text-indent .5s;
}
#h1:hover {
    text-indent: 5px;
    transition: text-indent .5s;
}
#h1:hover::before {
    display: inline-block;

}

#h2{
margin-top: 75px;
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, serif;
    color: black;
    text-shadow: 0 0 9px white;
}
#h2{
    transition: text-indent .5s;
}
#h2:hover {
    text-indent: 5px;
    transition: text-indent .5s;
}
#h2:hover::before {
    display: inline-block;

}
.LoginBox #box2
{
    border: none;
    outline: none;
    height: 25px;
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(232, 255, 236);
    width: 100%;
    margin-top: -5px;
}
.LoginBox #box2:hover
{
    background: #a7e610;
    color: darkorchid;
}
ul {
    width: 500px;
    list-style-type: none;
    margin-left: 50%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20%;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
